body {
    background-color: #94bdff;
}

div {
    border-style: groove;
    border-radius: 10px;
    padding: 20px;
}

h1, #sub-title {
    text-align: center;
}

h1:hover, h2:hover, h3:hover {
    text-decoration: underline blue solid 4px;
}
